body{
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 90px;
    background: #ece9e2;
}

.box {
    background-color: #d5c8af;
    margin: 0 auto;
    max-width: 550px;
    color: #2a1f02;
    border-radius: 20px;
    padding: 15px;
    display: block;
    margin: 15px auto 0 auto;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 2.0rem;
}


#day-time-today{
    text-transform: uppercase;
}

.form-control{
    width: 140%;
}

.search-window{
    padding: 0;
    width: 20%;
}

.search-button{
    position: relative;
    left: 47px;
    padding: 0;
}

.current-button{
    position: relative;
    left: 36px;
    padding: 0;
}

.box-today{
    padding: 0 0 0 10px;
}
  

.temp-today{
    
    font-size: 70px;
    line-height: 27px;
    margin-top: 22px;
}

.temperature{
    margin-right: 0;
    top: -29px;
}

.units{
    font-size: 15px;
    color: #2a1f02;
    position: relative;
    top: -36px;
    left: -20px;
}

.box-today .active{
    color: #2a1f02;
    text-decoration: none;
    cursor: default;
}

.box-today .active:hover{
    text-decoration: none;
    color: #2a1f02;
}

.day-week{
    
    border-radius: 10px;
    margin: 3px;
    background: #bda67d;
    padding: 5px 15px;
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
}

.signature{
    max-width: 600px;
    margin: 10px 0 -10px 5px;
    font-size: small;
}


.link{
    text-decoration: none;
    color: #157347;
}

.link:hover{
    text-decoration: underline;
    color: #157347;
}

.weather-forecast-temperarure-min{
    opacity: 0.6;
}

.active {
  color: #2a1f02;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

#search-form{
    margin-top: 0;
    max-width: 105%;
}

#cloudy{
    text-transform: capitalize;
}

#celsius-link{
    text-decoration: none;
}
#celsius-link:hover{
    text-decoration: underline;
}

#fahrenheit-link{
    text-decoration: none; 
}
#fahrenheit-link:hover{
    text-decoration: underline; 
}
